@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Abhaya Libre", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

.masthead {
  background-color: #423ca3;
}

.btn {
  background-color: #15114c;
  border: 0;
  width: 35%;
}

.logo {
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
}

.nav {
  text-align: center;
}

a:hover {
  color: #333;
  background-color: #fff;
}

.btn:hover {
  background-color: #fff;
}

@media only screen and (min-width: 25em) {

  .btn {
    width: 32%;
  }

}

@media only screen and (min-width: 38em) {

  .btn {
    width: 20%;
  }

}

@media only screen and (min-width: 60em) {

  .btn {
    width: 20%;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
